NODE_ENV=development
APPLICATION_PORT=4000

POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=root
POSTGRES_DATABASE=digital_card
POSTGRES_PORT=5434
DATABASE_URL=postgresql://postgres:root@localhost:5434/digital_card?schema=public

# сидер
SEED_ON_START=true
